.ui {
    position:relative;
    .space{
        position :absolute;
        left:2em;
        top: 50em;
        
        .emo{
        margin-top:4px;
        margin-left:2px;
        font-size:1.2em;
    }
    }
    .a{
        position :absolute;
        left:9em;
        top: 50em;
        
        .emo{
        margin-top:4px;
        margin-left:4px;
        font-size:1.2em;
    }
    }
    .d{
        position :absolute;
        left:12em;
        top: 50em;
        
        .emo{
        margin-top:4px;
        margin-left:4px;
        font-size:1.2em;
    }
    }

   
}


@media(max-width: 992px){
    .ui {

        display:none;
        visibility: hidden;  
       
    }

    .mobile_play{
        position: absolute;
        left:45%;
        bottom: 5%;
    }
}
