.uiCont{
    position:relative;
}

.ui {
  position: absolute;
  display: flex;
  bottom: 5%;
  left: 2%;
}

.mobile_play{
    display: none;
    visibility: hidden;
}


@media(max-width: 800px){
    .ui {

        display:none;
        visibility: hidden;  
       
    }

    .mobile_play{
        display: flex;
        visibility: visible;
        position: absolute;
        left:45%;
        bottom: 5%;
    }
}
