.ui {
    position:relative;
    .space{
        position :absolute;
        left:2em;
        top: 50em;
        
        .emo{
        margin-top:4px;
        margin-left:18px;
    }
    }
    .a{
        position :absolute;
        left:9em;
        top: 50em;
        
        .emo{
        margin-top:4px;
        margin-left:4px;
    }
    }
    .d{
        position :absolute;
        left:12em;
        top: 50em;
        
        .emo{
        margin-top:4px;
        margin-left:4px;
    }
    }

   
}